release
.idea
.coverage
.pypirc
__pycache__
qg_botsdk/__pycache__
example/log
example/session_data
update.txt
build
dist
whl
qg_botsdk.egg-info
docs/.vscode
log
session_data
test/log
test/session_data
test/.pytest_cache
test/config/config.yml
